*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;  
    text-decoration: none;

}
body{
    text-align: center;
    background-size: 100%;
    background-color: #00001a;
    width: 100%;
    height: 100%;
}
.uno{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 182vh;
    height: 90vh;
    margin-left: 13vh;
}
.datos select{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    width: 175px;
    text-align: center;
}
.documento-num input{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    width: 175px;
}
.fecha-presta input{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    width: 175px;
    text-align: center;
}
.articulo select{
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    width: 175px;
    text-align: center;
}
.email input{
    border-radius: 5px;
    border: 1px solid black;
    width: 175px;
    text-align: center;
}
.bt{
    border-radius: 5px;
    width: 14vh;
    background:rgba(255, 255, 255, 0.2);
    background-size: 100%;
    font-size: 18px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    margin-left: 40%;
}
.bt:hover{
    transform: scale(1.1);
    transition: 2s;
}
.container{
    display: block;
    background-size: 105%;
    background-position: center;
    height: 92%;
    color: white;
    font-size: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
}
.box-fondo2{
    height: 17%;
    size: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-fondo2 p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
}
form{
    width: 40%;
    height: 98%;
    margin-top: 21vh;
}
.botons{
    position: absolute;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    width: 3.2%;
    height: 6.8%;
    margin-top: -37%;
    margin-left: -92%;
    border-radius: 50px;
    font-size: 25px;  
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    animation: color 3s ease-in-out infinite;
}
.botons a{
    position: absolute;
    margin-left: -25%;
    margin-top: 18%;
    color: #ffffff;
}
.botons div{
    width: 100%;
    position: relative;
    border-radius: 50px;
}

@media(max-width:780px){

    .uno{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vh;
        height: 65vh;
        margin-left: -58%;
        margin-top: 25%;
    }
    .botons a{
        display: inline-block;
        padding: 5px 10px;
        color: white;
        text-transform: uppercase;
        font-size: 4vh;
        border-radius: 50%;
    }
    .botons{
        margin-right: 80%;
        margin-top: -160%;
    }
    .container{
        display: block;
        background-size: 105%;
        background-position: center;
        height: 85%;
        color: white;
        font-size: 20px;
        border-radius: 10px; 
    }
    .bt{
        border-radius: 5px;
        width: 10vh;
        background-size: 100%;
        font-size: 18px;
        margin-left: 36%;
    }

}