*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;  
}
body{
    text-align: center;
    /* background: linear-gradient(45deg,#80a8ff, #5f88fa, #604eff, #5f88fa, #80a8ff); */
    background-color: #00001a;
    background-size: 100% 100%;
    /* animation: color 3s ease-in-out infinite; */
    width: 100%;
    height: 100%;
}
/* @keyframes color{
    0%{
        background-position: 0 30%;
    }
    50%{
        background-position: 50% 30%;
    }
    100%{
        background-position: 0 30%;
    }
} */
.one{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200vh;
    height: 95vh;
}
.logo img{
    display: flex;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
    top: 10px;
    left: 85%;
}
.menus{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 65px;
    color: black;
}
.inicio{
    position: absolute;
    right: 27vh;
    font-size: 15px;
    color: white;
}
.menu{
    position: absolute;
    right: 79vh;
    font-size: 15px;
    color: white;
}
.tabla{
    display: flex;
    position: absolute;
    left: 6.5vh;
    top: 15vh;
    height: 46%;
    background: rgba(255, 255, 255, 0.2);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 105px;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    border-radius: 5px;
}
.tabla nav ul{
    display: block;
    font-size: 0px;
    color: white;
    align-items: center;
    justify-content: center; 
}
.tabla nav ul li{
    position: relative;
    float: left;
}
.tabla nav ul li a{
    font-size: 16px;
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
}
.inicio2{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 14px;
    left: 26px;
}
.somos{
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 47px;
    left: 8px;
}
.tuto{
    position: absolute;
    top: 83px;
    left: 12px;
}
.gale{
    position: absolute;
    top: 119px;
    left: 17px;
}
.presta{
    position: absolute;
    top: 158px;
    left: 7px;
}
.historial{
    display: flex;
    position: absolute;
    top: 196px;
    left: 8px;
}
.normas{
    display: flex;
    position: absolute;
    top: 232px;
    left: 17px;
}
.salir{
    display: flex;
    position: absolute; 
    top: 265px;
    left: 28px;
}
.tabla2{
    display: flex;
    position: absolute;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 45%;
    height: 62%;
    margin-top: 15vh;
    border-radius: 20px;
    color: white;
}
.profile{
    position: absolute;
    display: flex;
    background: rgba(255, 255, 255, 0.2);
    width: 3.5%;
    height: 8%;
    border-radius: 60px;
    margin-top: 42%;  
    margin-left: -185vh;
    font-size: 25px;  
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    animation: color 3s ease-in-out infinite;
}
.profile:hover{
    transform: scale(1.1);
    transition: 2s;
}
.profile a{
    margin-left: 25%;
    margin-top: 23%;
    color: #ffffff;
}


@media(max-width: 780px){

    .menus{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 45px;
        color: black;
    }
    .innova{
        display: flex;
        position: absolute;
        left: -16vh;
        font-size: 8px;
        color: white;
    }
    .inicio{
        position: absolute;
        right: 20vh;
        font-size: 8px;
        color: white;
    }
    .menu{
        position: absolute;
        right: 31vh;
        font-size: 8px;
        color: white;
    }
    .logo img{
        display: flex;
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 150px;
        /* border: 2px solid; */
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
        top: 10px;
        left: 36vh;
    }
    .tabla{
        display: flex;
        position: absolute;
        left: 2vh;
        top: 8vh;
        height: 24vh;
        background-color: #706dff;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 78px;
        justify-content: center;
        align-items: center; 
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
        overflow: hidden;
        border-radius: 5px;
    }
    .tabla nav ul li a{
        font-size: 9px;
        color: white;
        display: block;
        align-items: center;
        justify-content: center;
    }
    .inicio2{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 12px;
        left: 24px;
    }
    .somos{
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 38px;
        left: 12px;
    }
    .tuto{
        position: absolute;
        top: 65px;
        left: 14px;
    }
    .gale{
        position: absolute;
        top: 90px;
        left: 17px;
    }
    .presta{
        position: absolute;
        top: 117px;
        left: 12px;
    }
    .historial{
        display: flex;
        position: absolute;
        top: 145px;
        left: 12px;
    }
    .normas{
        display: flex;
        position: absolute;
        top: 172px;
        left: 17px;
    }
    .salir{
        display: flex;
        position: absolute; 
        top: 198px;
        left: 25px;
    }
    .tabla2{
        display: flex;
        position: absolute;
        text-align: center;
        justify-content: center;
        font-size: 15px;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        width: 65%;
        height: 35%;
        margin-top: 18vh;
        border-radius: 20px;
        color: white;
        left: 8vh;
    }
    .one{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 95vh;
    }
    .profile{
        display: flex;
        background: linear-gradient(45deg,#604eff, white);
        width: 10%;
        height: 5%;
        border-radius: 60px;
        margin-top: 210%;  
        margin-left: -82%;
        font-size: 25px;  
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.6);
        cursor: pointer;
        animation: color 3s ease-in-out infinite;
    }
    .profile a{
        margin-left: 23%;
        margin-top: 17%;
        color: #4e3bf5;
    }
    
}





