    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    align-items: center;
    display: flex;
    background: linear-gradient(45deg,#80a8ff, #5f88fa, #604eff, #5f88fa, #80a8ff);
    background-size: 300% 300%;
    animation: color 3s ease-in-out infinite;
    width: 90%;
    height: 92vh;
}
@keyframes color{
    0%{
        background-position: 0 30%;
    }
    50%{
        background-position: 50% 30%;
    }
    100%{
        background-position: 0 30%;
    }
}

h4, h2, small, a{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.carousel{
    width: 100%;
    margin: 0px 0px;
}

@media(min-width:768px){

    .carousel{
        margin: 0px 60px;
    }

}

.carousel h2{
    font-size: 45px;
    line-height: 38px;
    padding-bottom: 50px;
    opacity: 0.9;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
}

.carrusel-list{
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 340px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
}

.carrusel-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.carrusel{
    position: relative;
    width: 210px;
    padding: 0px 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;   
}

.carrusel h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 15px;
}

.carrusel h4 small{
    font-size: 15px;
    display: block;
}

.carrusel a img{
    object-fit: cover;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
    transition: .3s ease-in-out;
}

@media(min-width:768px){

    .carrusel{
        width: 275px;
    }
    .carrusel a img{
        width: 250px;
    }

}

.carrusel-arrow{
    border-radius: 30px;
    background-color: #FFFFFF;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    border: 0;
    cursor: pointer;
}

.carrusel-arrow:focus{
    outline: 0;
}

.carrusel-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0, 0, 0. 0.7);
}

.carrusel-prev{
    left: 0;
}

.carrusel-next{
    right: 0;
}

.botons a{
    display: inline-block;
    padding: 5px 10px;
    background: linear-gradient(
    90deg,
    rgba(78,159,215,1) 0%, 
    rgba(74,42,193,1) 100%
    );
    color: white;
    text-transform: uppercase;
    font-size: 4vh;
    border-radius: 50%;
    border: 1px solid #40c7f0;
}
.botons{
    display: inline-block;
    margin-top: -40%;
    margin-left: -108%;
}

@media(max-width: 780px){

    .carousel h2{
        font-size: 18px;
        line-height: 38px;
        padding-bottom: 50px;
        opacity: 0.9;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        color: #FFFFFF;
        margin-left: 5%;
        margin-top: -65%;
    }
    
    .carrusel-list{
        position: relative;
        display: flex;
        align-items: center;
        width: fit-content;
        height: 340px;
        padding: 10px 0px;
        margin: 0px auto;
        max-width: 90vw;
        overflow: hidden;
        margin-left: 5%;
    }
    
    .carrusel-track{
        position: relative;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        transition: .5s ease-in-out;    
    }
    
    .carrusel{
        position: relative;
        width: 250px;
        padding: 0px 15px;
        float: left;
        box-sizing: border-box;
        display: flex;
        height: 50%;  
    }
    
    .carrusel h4{
        position: absolute;
        z-index: 1;
        font-size: 15px;
        line-height: 23px;
        color: #FFFFFF;
        padding: 15px;
    }
    
    .carrusel h4 small{
        font-size: 12px;
        display: block;
    }
    
    .carrusel a img{
        object-fit: cover;
        height: 280px;
        width: 220px;
        border-radius: 15px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
        transition: .3s ease-in-out;
    }

    .carrusel-arrow{
        border-radius: 30px;
        background-color: #FFFFFF;
        position: absolute;
        z-index: 4;
        width: 48px;
        height: 48px;
        text-align: center;
        border: 0;
        cursor: pointer;
    }
    
    .carrusel-arrow:focus{
        outline: 0;
    }
    
    .carrusel-arrow svg{
        width: 12px;
        height: 100%;
        color: rgba(0, 0, 0. 0.7);
    }
    
    .carrusel-prev{
        left: 0;
    }
    
    .carrusel-next{
        right: 0;
    }
    
    .botons a{
        display: inline-block;
        padding: 5px 10px;
        background: linear-gradient(
        90deg,
        rgba(78,159,215,1) 0%, 
        rgba(74,42,193,1) 100%
        );
        color: white;
        text-transform: uppercase;
        font-size: 4vh;
        border-radius: 50%;
        border: 1px solid #40c7f0;
    }
    .botons{
        display: inline-block;
        margin-left: -95%;
        margin-top: -200%;
    }

}
