*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;  
}
body{
    text-align: center;
    background-color: #00001a;
    background-size: 100%;
    width: 100%;
    height: 105%;
}
.one{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200vh;
    height: 95vh;
}
.logo img{
    display: flex;
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 150px;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
    top: 10px;
    left: 85%;
}
.menus{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 65px;
    color: black;
}
.qnsomos{
    position: absolute;
    left: 32vh;
    font-size: 15px;
    color: white;
}
.menu{
    position: absolute;
    right: 8.8vh;
    font-size: 15px;
    color: white;
}
.tabla{
    display: flex;
    position: relative;
    right: 11.6%;
    top: -9.7%;
    height: 49%;
    background: rgba(255, 255, 255, 0.2);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 105px;
    justify-content: center;
    align-items: center; 
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
    overflow: hidden;
    border-radius: 5px;
}
.tabla nav{
    position: absolute;
}
.tabla nav ul{
    display: block;
    font-size: 0px;
    color: white;
    align-items: center;
    justify-content: center; 
}
.tabla nav ul li{
    position: relative;
    float: left;
}
.tabla nav ul li a{
    font-size: 16px;
    color: white;
    display: block;
    align-items: center;
    justify-content: center;
}
.inicio2{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: -135px;
    left: -27px;
}
.somos{
    position: absolute;
    align-items: center;
    justify-content: center;
    top: -102px;
    left: -45px;
}
.tuto{
    position: absolute;
    top: -66px;
    left: -41px;
}
.gale{
    position: absolute;
    top: -30px;
    left: -36px;
}
.presta{
    position: absolute;
    top: 9px;
    left: -46px;
}
.historial{
    display: flex;
    position: absolute;
    top: 47px;
    left: -45px;
}
.normas{
    display: flex;
    position: absolute;
    top: 83px;
    left: -36px;
}
.salir{
    display: flex;
    position: absolute; 
    top: 116px;
    left: -25px;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
font-family: "Bebas Neue", sans-serif;
font-family: "Poppins", sans-serif;
*/

.card1 .image1 img{
    display: flex;
    width: 170px;
    margin-left: 14vh;
    margin-top: 2vh;
    border-radius: 5px;
}
.resumen1 p{
    width: 220px;
    margin-left: 10vh;
    margin-top: 1vh;
    font-size: 15px;
    color: white;
}
.boton1 a{
    display: inline-block;
    padding: 5px 20px;
    background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%, 
    rgb(1, 1, 37) 100%
    );
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
    margin-top: 2vh;
    margin-left: -1vh;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.card2 .image2 img{
    display: flex;
    width: 170px;
    margin-left: 14vh;
    margin-top: 2vh;
    border-radius: 5px;
}
.resumen2 p{
    display: center;
    width: 200px;
    font-size: 15px;
    margin-left: 12vh;
    color: white;
}
.boton2 a{
    display: inline-block;
    padding: 5px 20px;
    background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%, 
    rgba(1, 1, 37) 100%
    );
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 10px;
    margin-top: 2vh;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.tablaok1{
    background: rgba(255, 255, 255, 0.2);
    background-size: 100%;
    width: 28%;
    height: 79%;
    margin-top: 110px;
    margin-left: 2vh;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
} 
.tablaok2{
    background: rgba(255, 255, 255, 0.2);
    background-size: 100%;
    width: 28%;
    height: 79%;
    margin-top: 110px;
    margin-left: 10vh;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.agradecimientos h4{
    position: relative;
    font-size: 25px;
    color: white;
}
.agradecimientos p{
    color: black;
    position: absolute;
    background-color: rgba(189, 189, 189, 0.4);
    width: 60%;
    border-radius: 50px;
    left: 20%;
    font-size: 18px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}
.profile{
    position: absolute;
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    width: 3.5%;
    height: 8%;
    border-radius: 60px;
    margin-top: 42.5%;  
    margin-left: -185vh;
    font-size: 25px;  
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.3);
    cursor: pointer;
    animation: color 3s ease-in-out infinite;
}
.profile:hover{
    transform: scale(1.1);
    transition: 2s;
}
.profile a{
    position: absolute;
    margin-left: -23%;
    margin-top: 21%;
    color: white;
}
.profile div{
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    position: relative;
    border-radius: 50px;
}

@media(max-width: 780px){

    .menus{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 45px;
        color: black;
    }
    .qnsomos{
        position: absolute;
        left: 14vh;
        font-size: 8px;
        color: white;
    }
    .menu{
        position: absolute;
        right: -4.3vh;
        font-size: 8px;
        color: white;
    }
    .logo img{
        display: flex;
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 150px;
        top: 10px;
        left: 36vh;
    }
    .tabla{
        display: flex;
        position: absolute;
        left: 2vh;
        top: 8vh;
        height: 24vh;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 78px;
        justify-content: center;
        align-items: center; 
        overflow: hidden;
        border-radius: 5px;
    }
    .tabla nav ul li a{
        font-size: 9px;
        color: white;
        display: block;
        align-items: center;
        justify-content: center;
    }
    .inicio2{
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: -95px;
        left: -15px;
    }
    .somos{
        position: absolute;
        align-items: center;
        justify-content: center;
        top: -70px;
        left: -25px;
    }
    .tuto{
        position: absolute;
        top: -42px;
        left: -22px;
    }
    .gale{
        position: absolute;
        top: -14px;
        left: -20px;
    }
    .presta{
        position: absolute;
        top: 12px;
        left: -25px;
    }
    .historial{
        display: flex;
        position: absolute;
        top: 38px;
        left: -25px;
    }
    .normas{
        display: flex;
        position: absolute;
        top: 64px;
        left: -20px;
    }
    .salir{
        display: flex;
        position: absolute; 
        top: 89px;
        left: -13px;
    }
    .one{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 95vh;
    }
    .card1 .image1 img{
        display: flex;
        width: 70px;
        margin-left: 4.5vh;
        margin-top: 2vh;
        border-radius: 5px;
    }
    .resumen1 p{
        width: 100px;
        margin-left: 3vh;
        margin-top: 1vh;
        font-size: 10px;
        color: white;
    }
    .boton1 a{
        display: inline-block;
        padding: 5px 20px;
        color: white;
        text-transform: uppercase;
        font-size: 8px;
        border-radius: 10px;
        margin-top: 2vh;
        margin-left: -1vh;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    }
    .card2 .image2 img{
        display: flex;
        width: 70px;
        margin-left: 4.5vh;
        margin-top: 2vh;
        border-radius: 5px;
       
    }
    .resumen2 p{
        display: center;
        width: 90px;
        font-size: 10px;
        margin-left: 3vh;
        margin-top: 1vh;
        color: white;
    }
    .boton2 a{
        display: inline-block;
        padding: 5px 20px;
        color: white;
        text-transform: uppercase;
        font-size: 8px;
        border-radius: 10px;
        margin-top: 2vh;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    }
    .tablaok1{
        background-size: 100%;
        width: 35%;
        height: 40%;
        margin-top: 45%;
        margin-left: 1vh;
        border-radius: 10px;
    } 
    .tablaok2{
        background-size: 100%;
        width: 35%;
        height: 40%;
        margin-top: 45%;
        margin-left: 4vh;
        border-radius: 10px;
    }
    .agradecimientos h4{
        position: relative;
        font-size: 25px;
        color: white;
        margin-top: 5%;
    }
    .agradecimientos p{
        position: absolute;
        width: 80%;
        border-radius: 50px;
        left: 10%;
        top: 110%;
        font-size: 15px;
    }
    .profile{
        display: flex;
        width: 10%;
        height: 5%;
        border-radius: 60px;
        margin-top: 210%;  
        margin-left: -82%;
        font-size: 25px;  
        cursor: pointer;
        animation: color 3s ease-in-out infinite;
    }
    .profile a{
        margin-left: -26%;
        margin-top: 17%;
    }
    
}